body {
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  background-color: #0070ba;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #005daa;
}
